<div class="page-left">
    <app-ingredient-list [ingredientsForm]="ingredientsForm"></app-ingredient-list>
</div>

<div class="page-right">
    <div class="search-input-container" [formGroup]="searchForm">
        <!-- <input type="text" formControlName="searchString"> -->

        <app-search-input [parentFormGroup]="searchForm" (escapePress)="onClearSearch()"></app-search-input>
    </div>


    <div class="recipes-container" [class.hidden]="paginationLocked">

        <ng-container *ngIf="recipeList.length === 0">
            <div class="empty-recipe-list">
                <i class="material-icons">
                    sentiment_very_dissatisfied
                </i>

                No recipes found :(
            </div>
        </ng-container>

        <ng-container *ngIf="recipeList.length > 0">
            <div class="recipe-list">
                <div *ngFor="let recipe of recipeList">
                    <app-recipe-tile [recipe]="recipe"></app-recipe-tile>
                </div>
            </div>
        </ng-container>

    </div>

    <div class="pagination-container">
        <i class="material-icons pagination-button" [class.disabled]="currentPage === 1"
           (click)="onPagePrevious()">navigate_before</i>
        <div class="pagination-page">
            {{ currentPage }}
        </div>
        <i class="material-icons pagination-button" [class.disabled]="recipeList.length < 10"
           (click)="onPageNext()">navigate_next</i>
    </div>
</div>

<div class="loader" [class.hidden]="!paginationLocked">
    <i class="material-icons">local_dining</i>
    <div class="text">Loading...</div>
</div>