<div class="ingredient-list" [formGroup]="ingredientsForm">

    <div class="add-ingredient-input-container">
        <app-ingredient-input [parentFormGroup]="ingredientsForm" (enterPress)="onAddIngredient()"
                              (escapePress)="onCancelAddIngredient()"></app-ingredient-input>
    </div>

    <div class="list" formArrayName="ingredientList">
        <ng-container *ngFor="let ingredient of ingredientList.controls; let i = index;">

            <app-ingredient-tile [ingredient]="ingredient.value" (toggle)="onToggleIngredientInclusion(i)"
                                 (remove)="onRemoveIngredient(i)"></app-ingredient-tile>

        </ng-container>
    </div>
</div>